<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sampleMapper">


	
	<select id="selectMapListByStr" parameterType="String" resultType="Map">
	SELECT
			EMP_NAME, EMP_NO, EMP_AGE, DEPT_CODE, TITLE_CODE, MAIL_ADDR
		FROM 
			EMP_INFO
		WHERE 1=1
		
		<if test="_parameter != null and _parameter != ''">
			AND	EMP_AGE >= #{_parameter}
		</if>
		
		ORDER BY 
			EMP_AGE ASC
	</select>
	
	<select id="selectMapListByMap" parameterType="Map" resultType="Map">
		SELECT
			EMP_NAME, EMP_NO, EMP_AGE, DEPT_CODE, TITLE_CODE, MAIL_ADDR
		FROM 
			EMP_INFO
		WHERE 1=1
		
		<if test="EMP_NO != null and EMP_NO != ''">
		AND	EMP_NO LIKE '%' || #{EMP_NO} || '%'
		</if>
		
		<if test="EMP_NAME != null and EMP_NAME != ''">
		AND	EMP_NAME LIKE '%' || #{EMP_NAME} || '%'
		</if>
		
		<if test="EMP_AGE != null and EMP_AGE != ''">
		AND	EMP_AGE >= #{EMP_AGE}
		</if>
		
		ORDER BY 
			EMP_AGE ASC
	</select>
	
	<update id="updateMapListByMap">
			UPDATE EMP_INFO
			SET 
				EMP_NAME=#{EMP_NAME}
				, EMP_NO=#{EMP_NO}
				, EMP_AGE=#{EMP_AGE}
				, DEPT_CODE=#{DEPT_CODE}
				, TITLE_CODE=#{TITLE_CODE}
				, MAIL_ADDR=#{MAIL_ADDR}
				  WHERE EMP_NO=#{EMP_NO}
	</update>	
	
	<delete id="deleteMapListByMap">
			DELETE FROM EMP_INFO
			WHERE EMP_NO=#{EMP_NO}
	</delete>
	
	<insert id="insertMapListByMap">
			INSERT INTO EMP_INFO ( 
					EMP_NO
				  , EMP_NAME
				  , EMP_AGE
				  , DEPT_CODE
				  , TITLE_CODE
				  , MAIL_ADDR
			 	)
			VALUES ( 
					#{EMP_NO}
				  , #{EMP_NAME}
				  , #{EMP_AGE}
				  , #{DEPT_CODE}
				  , #{TITLE_CODE}
				  , #{MAIL_ADDR} 
				)
	</insert>
				
	<select id="selectLoginData" parameterType="String" resultType="Map">
	SELECT
			USER_ID, USER_PWD, USER_NAME
		FROM 
			USERS
		WHERE USER_ID = #{USER_ID} AND USER_PWD = #{USER_PWD}
	</select>
	
</mapper>